<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 上传文件必须加上最后的属性 exctype -->
    <form action="/portrait" method="post" enctype="multipart/form-data">
        用户名：<input type="text" name="username">
        头像：<input type="file" name="filename">
        <button>提交</button>>
    </form>
</body>
</html>